/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/application/application.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color:#b6b4cc;
  margin-top: 1rem;
}
.app-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}
.nav>p{
  margin-left: 1rem;
}
.text-container{
  width: 100%;
  height: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  
}
h2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}


