*{
    margin: 0;
    padding: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
   

}
.emblem{
    color: #3D348B;
   
}
.nav-button{
    display: flex;
    gap: 1rem;
}
.search{
    color: #3D348B;
} 
.search input{
    position: relative;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    width: 100px;
    left: 1rem;
}
.search:hover{
    cursor: pointer;
}
.lang{
    border: none;
}